<!-- Footer -->
<footer class="siteFooter">
    <div class="container-mid">
    <div class="__inner py-3">
    <div class="row
    align-items-center
    justify-content-center">
    <div class="col-lg-4">
    <div class="">
    <ul
    class="list-style-none footer_list-item">
    <li><a
        href="#" class="pr-2 mr-2">Terms and
        Conditions</a></li>
        <li><a
        href="#" class="pr-2
        mr-2">Privacy</a></li>
        </ul>
        </div>
        </div>
        <div class="col-lg-4">
        <div
        class="text-center">
        <span>© 2022
        CASHFORCAR Inc., All rights
        reserved.</span>
        </div>
        </div>
        <div class="col-lg-4
        order-first order-lg-last">
        <ul
        class="list-style-none social-links mb-3
        mb-lg-0">
        <li>
            <a href="#"
            class="facebook">
            <i
            class="fab fa-facebook-f"></i>
            </a>
            </li>
            <li>
            <a href="#"
            class="twitter">
            <i
            class="fab fa-twitter"></i>
            </a>
            </li>
            <li>
            <a href="#"
            class="linkedin">
            <i
            class="fab fa-linkedin-in"></i>
            </a>
            </li>
            </ul>
            </div>
            </div>
        </div>
    </div>
    </footer>
    <!-- Ends Footer -->
