<section class="whyChoose-us">
    <div class="container-mid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="whyChoose-us-grid w-100">
                    <div class="__img">
                        <div class="_inner"
                            style="background-image:url('../../../assets/only-convenience.svg');"></div>
                    </div>
                    <div class="__desc">
                        <h4>Only
                            Convenience. No Hassle</h4>
                        <p>We save you
                            the hassle of selling your vehicle to
                            private buyers on multi platforms. Cash
                            For Cars is a centralised platform where
                            you get price quotes from certified
                            dealers.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="whyChoose-us-grid w-100">
                    <div class="__img">
                        <div class="_inner" style="background-image:url('../../../assets/personal-information.svg');">
                        </div>
                    </div>
                    <div class="__desc">
                        <h4>We Value Your
                            Personal Information</h4>
                        <p>We never use
                            information for secondary purposes or
                            share it with third parties. Any
                            information you provide will only be used
                            by the dealers you have selected to
                            contact you.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="whyChoose-us-grid w-100">
                    <div class="__img">
                        <div class="_inner" style="background-image:url('../../../assets/certified-dealers.svg');"></div>
                    </div>
                    <div class="__desc">
                        <h4>Genuine Leads. Certified Dealers</h4>
                        <ul class="pl-3">
                            <li>Our
                                dealers are authorised and professional.
                            </li>
                            <li>They do
                                not share your contact information with
                                any third parties. </li>
                            <li>They do
                                not swindle or scam your inbox. </li>
                            <li>Only the
                                dealers you've selected will send you
                                deals and offers, confidentially to your
                                inbox.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6
    col-md-6">
                <div class="whyChoose-us-grid w-100">
                    <div class="__img">
                        <div class="_inner" style="background-image:
    url('../../assets/Total-Transparency.svg');"></div>
                    </div>
                    <div class="__desc">
                        <h4>Skip the
                            Haggle with Total Transparency</h4>
                        <p>A professional
                            evaluation eliminates the need for
                            haggling. As a matter of fact, we use theVinAudit API, an analytical tool, to
                            determine the value of your vehicle.
                            Furthermore, there are no middlemen or
                            hidden costs with us.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6
    col-md-6">
                <div class="whyChoose-us-grid w-100">
                    <div class="__img">
                        <div class="_inner" style="background-image:
    url('../../assets/We-Cost-You-Nothing.svg');"></div>
                    </div>
                    <div class="__desc">
                        <h4>We Cost You
                            Nothing</h4>
                        <p>There are no
                            hidden fees, extra charges or
                            third-parties involved. From car
                            valuation to contacting dealers andpicking your best offer, the entire
                            process is completely online and
                            free.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6
    col-md-6">
                <div class="whyChoose-us-grid w-100">
                    <div class="__img">
                        <div class="_inner" style="background-image:
    url('../../assets/It’s-Under-Your-Charge.svg');"></div>
                    </div>
                    <div class="__desc">
                        <h4>From Start to
                            End, It’s Under Your Charge</h4>
                        <p>From receiving
                            offers to choosing the best offer, you
                            have complete control over who you want
                            to sell your car to, how much you want tosell it for, and when you want to sell
                            it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- why choose us section ends -->