<!-- thank you section starts -->
<section class="thankYou py-5">
    <div class="container-mid">
    <div class="row">
    <div class="col-md-12
    justify-content-center d-flex
    align-items-center">
    <div
    class="thankYou-container text-center">
    <img
    src="../../../assets/thank-you.svg"class="img-fluid d-block mx-auto"
    alt="thank you">
    <h2
    class="my-3">Thank You</h2>
    <p>Thank you for
    your information. You will shortly
    receive offers from interested
    dealers.</p>
    <div
    class="thankYou-car_Model">
    <img
    src="../../../assets/bmw-2-series.png"
    class="img-fluid d-block mx-auto"
    alt="thank you">
    </div>
    <h6 class="mt-3
    text-dark">Your Estimated Value</h6>
    <h4 class="mb-2
    mt-1"><b>$4,122 - $6,775</b></h4>
    <hr>
    <div
    class="car-estimate-image-content
    d-md-flex justify-content-between
    align-items-start">
    <div>
        <h1>2022
        BMW 2 Series Gran Coupe</h1>
        <p
        class="mt-2 mb-0"><b>Trim:</b> M2
        Competition Coupe</p>
        </div>
        <div
        class="text-right">
        <a
        routerLink="/"
        class="colorPrimary"><b>Edit
        Vehicle</b></a>
        </div>
        </div>
        <hr>
        <p>Powered By <a
        href="#" class="text-uppercase
        colorPrimary">vinaudit.</a></p>
        </div>
        </div>
        </div>
        </div>
        </section>
        <router-outlet> </router-outlet>
<!-- thank you section ends -->
