<!-- How it works -->
<section class="how-it-work">
    <div class="container-mid">
        <div class="row
    justify-content-center">
            <div class="col-md-10">
                <div class="themeHeading
    text-center text-capitalize mb-5">
                    <h2> How It Works</h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex
    justify-content-center
    align-items-center">
                <div class="how-it-workImg text-center">
                    <img src="../../../assets/valuation.jpg" class="img-fluid d-block mx-auto" alt="valuation">
                </div>
            </div>
            <div class="col-md-6 d-flex
    justify-content-center
    align-items-center">
                <div class="how-it-work-content px-md-5">
                    <img src="../../../assets/instant-valuation.jpg" class="img-fluid mb-3" alt="instant-valuation">

                    <h2 class="mb-3
    font-weight-bold">Get Instant
                        Estimate</h2>
                    <p>Enter your licence
                        plate number or VIN. Fine-tune your
                        vehicle's value by providing us with its
                        details. Next,
                        enter your personal information to get an
                        instant car estimate.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="how-it-workImg">
                    <img src="../../../assets/Compare-car.svg" class="img-fluid" alt="Personalised-Offers">
                </div>
            </div>

            <div class="col-md-6
    order-lg-first order-md-first d-flex
    justify-content-center
    align-items-center">
                <div class="how-it-work-content px-md-5">
                    <img src="../../../assets/Personal-Information_1.jpg" class="img-fluid mb-3" alt="Personalised-Offers">
                    <h2 class="mb-3
    font-weight-bold">Receive Personalised
                        Offers</h2>
                    <p>Choose a dealer
                        near you and receive offers from them
                        directly in your inbox.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">

            <div class="col-md-6 d-flex
    justify-content-center
    align-items-center">
                <div class="how-it-workImg text-center">
                    <img src="../../../assets/Competitive-Offers.jpg" class="img-fluid d-block mx-auto"
                        alt="Competitive-Offers">
                </div>
            </div>
            <div class="col-md-6 d-flex
    justify-content-center
    align-items-center">
                <div class="how-it-work-content px-md-5">
                    <img src="../../../assets/Great-Deal.jpg" class="img-fluid mb-3" alt="Great-Deal">
                    <h2 class="mb-3
    font-weight-bold">Grab that Great Deal/
                        Find Competitive Offers</h2>

                    <p>There you have it!
                        Now compare offers and choose the best
                        deal for your vehicle.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ends How it works -->