<header class="site-header" id="header">
    <div class="container-mid">
        <nav class="navbar
    navbar-expand-lg">
            <a class="navbar-brand" routerLink="/">
                <img src="../../../assets/logo.jpg" class="img-fluid" alt="logo" title="logo">
            </a>
            <button class="navbar-toggler
    collapsed" type="button" data-toggle="collapse" data-target="#websitenavbar" aria-controls="websitenavbar"
                aria-expanded="false" aria-label="Toggle
    navigation">
                <span class="icon-bar
    top-bar"></span>
                <span class="icon-bar
    middle-bar"></span>
                <span class="icon-bar
    bottom-bar"></span>
            </button>
            <div class="collapse
    navbar-collapse" id="websitenavbar">
                <ul class="navbar-nav
    ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="valueyourtrade">Value Your
                            Trade</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/" fragment="howitworks"> How it works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="whychooseus">Why choose
                            us</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/" fragment="faq"> FAQ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Ends Header Section -->