<!-- Frequently asked questions (FAQ)-->
<section class="faq">
    <div class="container-mid">
        <div class="row
    justify-content-center">
            <div class="col-md-10">
                <div class="themeHeading
    text-center text-capitalize mb-5">
                    <h2>FAQ</h2>
                </div>
            </div>
        </div>
        <div id="accordion" class="faqBlock">
            <div class="card border">
                <div class="card-header">
                    <a class="card-link " data-toggle="collapse" href="#collapseOne" aria-expanded="false">
                        <h6 class="mb-0">What is a car title?
                            Everything you need to know. </h6>
                    </a>
                </div>
                <div id="collapseOne" class="collapse show">
                    <div class="card-body">
                        <p>A car title is
                            a legal document that shows who owns the
                            vehicle and is required for
                            registration
                            or sale. It has vehicle identification
                            number, make and year of purchase, price

                            when vehicle
                            was new, licence plate number, name and
                            address of the registered owner, name
                            of lien
                            holder if vehicle is being financed.
                        </p>
                        <p>
                            Every time
                            the vehicle's ownership changes or you
                            permanently relocate to a new state, the
                            title must be
                            reissued.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card border">
                <div class="card-header">
                    <a class="card-link
collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true">
                        <h6 class="mb-0">What are clean and salvage
                            titles?</h6>

                    </a>
                </div>
                <div id="collapseTwo" class="collapse">
                    <div class="card-body">
                        <p>A clean title
                            simply means that the vehicle has never
                            been declared a total loss. It may,
                            however, have
                            mechanical issues, poor repair, and a
                            history of minor to major accidents.
                            Insurance
                            companies will cover the full value of a
                            vehicle with a clean title. You can also
                            use it at the
                            DMV to register your vehicle and obtain
                            new licence plates.
                        </p>
                        <p>A salvage
                            title is issued when a vehicle is damaged
                            (most likely in an accident) and deemed a
                            total loss by
                            the insurance company. In that case, the
                            vehicle cannot be registered or

                            insured, and
                            its resale value is extremely low.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card border">
                <div class="card-header">
                    <a class=" card-link
collapsed" data-toggle="collapse" href="#collapseThree">
                        <h6 class="mb-0">Is it possible to sell my
                            car without a title?</h6>
                    </a>
                </div>
                <div id="collapseThree" class="collapse">
                    <div class="card-body">
                        <p>A clean title
                            simply means that the vehicle has never
                            been declared a total loss. It may,

                            however, have
                            mechanical issues, poor repair, and a
                            history of minor to major accidents.
                            Insurance
                            companies will cover the full value of a
                            vehicle with a clean title. You can also
                            use it at the
                            DMV to register your vehicle and obtain
                            new licence plates.
                        </p>
                        <p>A salvage
                            title is issued when a vehicle is damaged
                            (most likely in an accident) and deemed a
                            total loss by
                            the insurance company. In that case, the
                            vehicle cannot be registered or
                            insured, and
                            its resale value is extremely low.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card border">

                <div class="card-header">
                    <a class=" card-link
collapsed" data-toggle="collapse" href="#collapse4">
                        <h6 class="mb-0">Selling a car without a
                            title: is it doable?</h6>
                    </a>
                </div>
                <div id="collapse4" class="collapse">
                    <div class="card-body">
                        <p>You cannot
                            legally sell your vehicle unless you have
                            a title. If you do not already have a
                            title, you
                            must apply for one. For more information
                            on obtaining a duplicate title, contact
                            the DMV.
                        </p>
                        <p>You can also
                            register the vehicle in Vermont because
                            they only require the Bill of Sale and

                            the
                            registration tax. However, the vehicle
                            must be more than 15 years old, and the
                            Bill of
                            Sale must
                            include the buyer and seller's contact
                            information.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card border">
                <div class="card-header">
                    <a class=" card-link
collapsed" data-toggle="collapse" href="#collapse5">
                        <h6 class="mb-0">How do I calculate my car
                            value? </h6>
                    </a>
                </div>
                <div id="collapse5" class="collapse">

                    <div class="card-body">
                        <p>There are
                            authenticated online tools like VinAudit
                            API that allow you to calculate the value
                            of your car
                            based on functionality, make, model,
                            year, and other vehicle conditions.
                        </p>
                        <p>Furthermore,
                            you can have your vehicle inspected by a
                            certified dealer, who will explain
                            everything
                            that goes into determining the value of
                            your vehicle in person.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card border">
                <div class="card-header">

                    <a class=" card-link
collapsed" data-toggle="collapse" href="#collapse6">
                        <h6 class="mb-0">What documents do I need
                            before the sale of my car? </h6>
                    </a>
                </div>
                <div id="collapse6" class="collapse">
                    <div class="card-body">
                        <p>The
                            registration book, warranty book, service
                            history documents, emissions test
                            certificates,
                            bill of sale,
                            owner's manual, warranty documents,
                            inspection sheet are all original and
                            additional
                            documents that your dealer may request.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card border">
                <div class="card-header">
                    <a class=" card-link
collapsed" data-toggle="collapse" href="#collapse7">
                        <h6 class="mb-0">Can I trade a car that has
                            not been paid off, such as a loan or
                            lease?</h6>
                    </a>
                </div>
                <div id="collapse7" class="collapse">
                    <div class="card-body">
                        <p>Well, if the
                            trade-in value of your car exceeds the
                            current loan balance (positive equity),
                            you're good
                            to go—just pay off the old loan and apply
                            the
                        </p>

                        <p>difference
                            toward the cost of your new vehicle.
                            However, if you owe more on your car than
                            its
                            trade-in
                            value (negative equity) , you must make
                            up the difference. In that case, it might
                            be a better
                            financial move to postpone the purchase
                            until you've paid down your loan a
                            little more.
                        </p>
                        <p>
                            Selling to
                            dealers is easier since they handle all
                            the paperwork. If you want to sell it to
                            a private
                            buyer, youll have to contact your bank or
                            the firm with their name on your
                            vehicle's
                            title.
                        </p>
                        <p>

                            The buyer and
                            seller both have to visit a state agency
                            to get all the documentation, sign
                            the required
                            paperwork and get the title transferred
                            to the new owner.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card border">
                <div class="card-header">
                    <a class=" card-link
collapsed" data-toggle="collapse" href="#collapse8">
                        <h6 class="mb-0">Selling a Car Privately vs.
                            Selling to a Dealer: What should I
                            do?</h6>
                    </a>
                </div>
                <div id="collapse8" class="collapse">

                    <div class="card-body">
                        <p>It is easier
                            to sell your car to a dealer because the
                            dealer handles all of the paperwork as
                            well as
                            repairing and detailing the vehicle.
                            Though the time spent on these tasks may
                            be
                            deducted from
                            the value of your vehicle, selling it to
                            a dealer is a safe, simple, and quick
                            option. They
                            have analytical tools and professional
                            folks to determine the value of your
                            vehicle.
                        </p>
                        <p> Selling it to
                            a private buyer, on the other hand, may
                            entail the hassle of gathering all of
                            the necessary
                            paperwork, contacting and arranging a
                            meeting with the buyers, safely

                            transferring
                            the title, and potentially costing you
                            more time and money.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>